<div class="modal fade" id="alert-modal2" role="dialog">
  <div class="modal-dialog modal-md alert-modal">
    <div class="modal-content">
      <div class="modal-body">
        <p class="modal-message2"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default logout">Ok</button>

      </div>
    </div>
  </div>
</div>