<div class="modal fade" id="alert-modal" role="dialog">
  <div class="modal-dialog modal-md alert-modal">
    <div class="modal-content">
      <div class="modal-body">
        <p class="modal-message">Do you want to deactivate your account?
        <p class="delete-card-alert">
          NOTE: Your subscription plans will get cancelled by deactivating your account. </p>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-no" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-default deactivate">Ok</button>

      </div>
    </div>
  </div>
</div>