<div id="no-resume" class="modal fade" role="dialog">
  <div class="modal-dialog alert-modal">
    <div class="modal-content">

      <div class="modal-body">
        <p class="modal-body-text alert-text">
          No Resume Available
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>

  </div>
</div>