<div class="modal fade" id="msgModal" role="dialog">
  <div class="modal-dialog modal-md alert-modal">
    <div class="modal-content">
      <div class="modal-body">
        <p class="modal-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-activate" class="btn btn-default jobslist">
          <a href="#">Ok</a>
        </button>
      </div>
    </div>
  </div>
</div>