<div class="modal fade" id="delete-card-modal" role="dialog">
  <div class="modal-dialog modal-md alert-modal">
    <div class="modal-content">
      <div class="modal-body">
        <p class="modal-message">Do you want to delete your card details?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-activate" data-dismiss="modal" class="btn btn-default"><a
        href="#">No</a></button>
        <button type="button" id="modal-activate" class="btn btn-default delete-card"><a href="#">Delete</a>
        </button>
      </div>
    </div>
  </div>
</div>