<div class="modal fade" id="alert-modal" role="dialog">
  <div class="modal-dialog modal-md alert-modal">
    <div class="modal-content">
      <div class="modal-body">
        <p>Please fill your profile</p>
      </div>
      <div class="modal-footer">
        <%= link_to edit_company_path(@company) do %>
          <button type="button" class="btn btn-default">Ok</button>
        <% end %>
      </div>
    </div>
  </div>
</div>