<div class="modal fade" id="save-card-error" role="dialog">
  <div class="modal-dialog modal-md alert-modal">
    <div class="modal-content">
      <div class="modal-body">
        <p class="modal-message save-card-error-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-activate" data-dismiss="modal" class="btn btn-default close-no"><a
        href="#">Ok</a></button>
      </div>
    </div>
  </div>
</div>