// Color Variables
$primary-text:    #000;
$secondary-text:  #333;

$light-background: #fff;
$highlight-text:  #0bfbfd;

// Font Variables
$main-font:         Helvetica, sans-serif;
$site-font:         Helvetica, sans-serif;

// Media Query Sizes
$screen-xs:         320px;
$screen-sm:         480px;
$screen-md:         768px;
$screen-lg:        1024px;