//
//  Production.xcconfig
//  SwissMonkey
//
//  Created by Yadagiri Neeli on 11/05/16.
//  Copyright © 2016 rapidBizApps. All rights reserved.
//

//BASEURL = "https:\/\/app.swissmonkey.co/api/v1.0" //Old Cloud API
//BASEURL = "http:\/\/192.168.1.114:3000/api/v1.0"//Local
BASEURL = "http:\/\/swissmonkey-staging.herokuapp.com/api/v1.0"//New Cloud API

k_GOOGLE_API_KEY = "AIzaSyBvD9Ho2rn9uY0mKMFbb47UiMqcC_vkltg"
k_FLURRY_KEY = "4XM6JZCKD8T43Q97K532"
BUNDLE_ID = com.swissmonkey.swissmonkey

BUILD_NUMBER = 2

GCC_PREPROCESSOR_DEFINITIONS = k_FLURRY_KEY=@\"$(k_FLURRY_KEY)\" k_GOOGLE_API_KEY=@\"$(k_GOOGLE_API_KEY)\" BASEURL=@\"$(BASEURL)\" BUNDLE_ID=@\"$(BUNDLE_ID)\"
