//
//  Testing.xcconfig
//  SwissMonkey
//
//  Created by Yadagiri Neeli on 11/05/16.
//  Copyright © 2016 rapidBizApps. All rights reserved.
//

VERSION_NUMBER = 
k_FLURRY_KEY = "SR6P8X4GV7V75HR9FMFH"
k_GOOGLE_API_KEY = "AIzaSyDX3YP77hPRdk6SanI9jQ0enax3tLJlQ5Q"
//BASEURL = "http:\/\/swissmonkey-staging.rapidbizapps.com/api/v1.0"
BASEURL = "https:\/\/checkup.swissmonkey.co/api/v1.0"
BUNDLE_ID = com.rapidBizApps.SwissMonkeyJenkins

GCC_PREPROCESSOR_DEFINITIONS = VERSION_NUMBER=@\"$(VERSION_NUMBER)\" k_FLURRY_KEY=@\"$(k_FLURRY_KEY)\" k_GOOGLE_API_KEY=@\"$(k_GOOGLE_API_KEY)\" BASEURL=@\"$(BASEURL)\" BUNDLE_ID=@\"$(BUNDLE_ID)\"